<<<<<<< HEAD
h1 {
    color: blue;
}

span {
    color: red;
}

=======
.test {
    width: 100px;
}

p {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: red;
}

.test {
    height: 10px;
}
>>>>>>> 2fa0f30dfbe3a64007eb89178aba0cb031f796d6
